body {
    margin: 0;
}

#header {
    width: 100%;
    text-align: center;
    background-image: url(images/kelly-sikkema-_whs7FPfkwQ-unsplash.jpg);
    height: 530px;
    width: 100% background-repeat: no-repeat;

}

.header-text {
    padding-top: 30px;
    color: rgb(255, 255, 255);
}

.header-text h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 60px;
    font-weight: 10px;
}

.header-text p {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: 8px;
}

.header-text a {
    text-decoration: none;
    color: aliceblue;
    background-color: chocolate;
    padding: 15px;
    border-radius: 5px;
}

#middle-top {
    text-align: center;
    margin: 15px 400px;
}

.amount {
    display: flex;
    width: 100%;
}

.amount h1 {
    padding: 30px;
    background-color: rgb(198, 197, 197);
    margin: 5px;
}

#select {
    border: 2px solid rgb(203, 55, 50);
    background-color: rgb(194, 114, 114);
}

.button {
    background-color: #e16d0d;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 5px;
}

#middle-bottom {
    display: flex;
    width: 100%;
    margin: 0px 18%;

}

.box-1 {
    width: 20%;
    padding: 10px;
    margin: 5px;
    background-color: rgba(94, 193, 212, 0.132);
    border-radius: 5px;
}

.box-2 {
    width: 20%;
    padding: 10px;
    margin: 5px;
    background-color: rgba(214, 74, 74, 0.223);
    border-radius: 5px;
}

.box-3 {
    width: 20%;
    padding: 10px;
    margin: 5px;
    background-color: rgba(129, 21, 217, 0.179);
    border-radius: 5px;
}