body {
    margin: 0;
}

#header {
    width: 100%;
    text-align: center;
    background-image: url(images/pavlo-rekun-HKHxlFqDVLM-unsplash.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 1608px 500px;

}

.header-text {
    padding-top: 30px;
    color: rgb(255, 255, 255);
}

.header-text h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 60px;
    font-weight: 10px;
}

.header-text p {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: 8px;
    margin-bottom: 45px;
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

#text-h1 {
    font-size: 40px;
}

.header-text a {
    text-decoration: none;
    color: aliceblue;
    background-color: chocolate;
    padding: 15px;
    border-radius: 5px;
}

#middle-top {
    text-align: center;
    margin: 15px 400px;
}

.amount {
    display: flex;
}

.amount h1 {
    padding: 30px;
    background-color: rgba(198, 197, 197, 0.27);
    margin: 5px;
}

#select {
    border: 2px solid rgb(217, 104, 104);
    background-color: rgba(212, 39, 39, 0.316);
}

#input {
    margin-top: 33px;
}

.input {
    border: none;
}

.button {
    background-color: #e16d0d;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 5px;
}


#middle {
    display: flex;
    width: 100%;
    margin: 0px 18%;

}

.box-1 {
    width: 20%;
    padding: 40px 15px;
    margin: 5px;
    background-color: rgba(94, 193, 212, 0.132);
    border-radius: 5px;
}

.box-2 {
    width: 20%;
    padding: 40px 15px;
    margin: 5px;
    background-color: rgba(214, 74, 74, 0.223);
    border-radius: 5px;
}

.box-3 {
    width: 20%;
    padding: 40px 15px;
    margin: 5px;
    background-color: rgba(129, 21, 217, 0.179);
    border-radius: 5px;
}

#middle-bottom {
    display: flex;
    width: 100%;
    margin: 0px 8%;
    padding: 30px;
}

#middle-bottom img {
    width: 25%;
    height: 400px;
    margin: 10px;
    border-radius: 5px;
}

.top-img {
    padding-top: 110px;
}

#footer-top {
    text-align: center;
}

.footer-input {
    background-color: #a71d1d0b;
    padding: 40px 0px;
    width: 0px 10%;
    margin: 5px 440px;
}

.footer-input input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(213, 217, 221);
}

.footer-input button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgba(246, 0, 0, 0.81);

}

footer {
    text-align: center;
    background-color: rgba(13, 13, 13, 0.66);
    padding: 10px;
}

footer h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}